<table class="body">
	<tr>
		<td style="font-size: 18px; text-align: center">
			Не хвилюйтеся, ми контролюємо ваш пароль!
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<p style="margin: 17px 0 0;">
				Натисніть на кнопку нижче, щоб відновити свій пароль
			</p>
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<a href="{{frontUrl}}/restore-password/{{actionToken}}"
			   style="display:inline-block; padding: 10px 20px; background:#CEB27F; color:#fff; text-decoration:none; border-radius:6px;">
				Відновити
			</a>
		</td>
	</tr>
	<tr>
		<td style="text-align: center">
			<p style="margin-bottom: 17px;">
				або перейдіть за наступним посиланням:
			</p>
			<a href="{{frontUrl}}/restore-password/{{actionToken}}">
				{{frontUrl}}/restore-password/{{actionToken}}
			</a>
		</td>
	</tr>
</table>